.location-container{

    display:grid;
    grid-template-columns:350px 1fr;

    gap:30px;

    padding:30px;

    min-height:calc(100vh - 70px);

}

.location-info{

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

#map{

    width:100%;
    height:600px;

    border-radius:12px;

    overflow:hidden;

}

/* Mobile */

@media(max-width:768px){

    .location-container{

        grid-template-columns:1fr;

    }

    #map{

        height:450px;

    }

}