/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#d9c6c6;
}
.footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:#fff;
}
.body-text{
    color:#fff;
    font-size:18px;
    line-height:1.6;
    text-align:center;
    padding:20px;
    opacity: 100%;
}
.body-text h1{
    font-size:32px;
    margin-bottom:20px;
}

/* ==========================
   Navigation
========================== */

.navbar{
    height:70px;
    width:100%;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.logo img{
    height:50px;
    width:auto;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
}

nav a:hover{
    color:#0077ff;
}

/* ==========================
   Main Container
========================== */

/* Main Container */
.container{
    width:100%;
    min-height:calc(100vh - 70px);

    display:flex;
    justify-content:center;
    align-items:center;

    padding:0px;
    background:#f5f5f5;
}

/* Slideshow Container */
.slideshow{
    position:relative;

   /*width:min(1200px, 95vw);*/
   Width: 100%;
    aspect-ratio:16 / 9;

    /*max-height:calc(100vh - 110px);*/
    height:100%;
    overflow:hidden;
    border-radius:12px;
    background:#000;
    box-shadow:0 8px 25px rgba(0,0,0,.25);
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;     /* use contain if you don't want cropping */
    opacity:0;
    animation:fade 12s infinite;
}

.slide:nth-child(1){
    animation-delay:0s;
}

.slide:nth-child(2){
    animation-delay:4s;
}

.slide:nth-child(3){
    animation-delay:8s;
}

/* Fade Animation */

@keyframes fade{

    0%{
        opacity:0;
    }

    8%{
        opacity:1;
    }

    30%{
        opacity:1;
    }

    38%{
        opacity:0;
    }

    100%{
        opacity:0;
    }

}

/* ==========================
   Mobile
========================== */

@media(max-width:768px){

    .navbar{
        padding:0 20px;
        height:60px;
    }

    .logo img{
        height:40px;
    }

    nav ul{
        gap:15px;
        font-size:14px;
    }

    .container{
        height:calc(100vh - 60px);
    }

    .slideshow{
        width:100%;
        height:100%;
        border-radius:0;
    }

}
.location-container{

    display:grid;
    grid-template-columns:350px 1fr;

    gap:30px;

    padding:30px;

    min-height:calc(100vh - 70px);

}

.location-info{

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

#map{

    width:100%;
    height:600px;

    border-radius:12px;

    overflow:hidden;

}

/* Mobile */

@media(max-width:768px){

    .location-container{

        grid-template-columns:1fr;

    }

    #map{

        height:450px;

    }

}
.rules-title{
    text-align:center;
    font-size:32px;
    margin-top:20px;
    color:#333;
    font-weight: bold;
    margin-bottom: 10px;
    padding: auto;
}
h1{
    text-align:center;
    font-size:24px;
    margin-top:10px;
    color:#555;
    font-weight: normal;
    margin-bottom: 20px;
}
p{
    text-align:center;
    font-size:18px;
    margin-top:10px;
    color:#666;
    font-weight: normal;
    margin-bottom: 10px;
}
.rules-subtitle{
    text-align:center;
    font-size:20px;
    margin-top:10px;
    color:#d20c0c;
    font-weight: normal;
    margin-bottom: 20px;
}
.rules-note{
    text-align:center;
    font-size:18px;
    margin-top:10px;
    color:#d20c0c;
    font-weight: bold;
    margin-bottom: 10px;
}